<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head" lang="en">
        <meta charset="UTF-8" />
        <title>bacef00k</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>

    <body>        
        <nav th:fragment="navbar(isLoggedIn)" class="navbar fixed-top navbar-expand navbar-dark bg-dark">
            <a class="navbar-brand" href="/"><img width="150px" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c2319d31-56ec-4f80-b9a7-58156da9925a/dd5nq8c-777695a7-3989-47e2-b2db-f62bce39b2cf.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2MyMzE5ZDMxLTU2ZWMtNGY4MC1iOWE3LTU4MTU2ZGE5OTI1YVwvZGQ1bnE4Yy03Nzc2OTVhNy0zOTg5LTQ3ZTItYjJkYi1mNjJiY2UzOWIyY2YucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.oIRDFamnkhRZj2SE0n5Pi7coHfhJjwRry0vr79JWYuA"/></a>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/feed">Feed <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/friends">Find friends</a>
                    </li>
                </ul>
                <div th:if="${isLoggedIn}" class="nav-item">
                    <a class="badge badge-secondary" href="/logout" style="font-color:white;">Log out</a>
                </div>                
            </div>
        </nav>
        
        <div>TODO write content</div>
    </body>
</html>
