<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta charset="UTF-8" />
        <title>Naamakirja</title>
    </head>
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>

            <!-- postaus --> 
            <section class='container'>
                <div class="mt-4">
                    <p class="mt-4 text-center display-4">Posts of you and your dear friends</p>
                    <p class="lead text-center ">Go to your friends page to interact!</p>
                </div>           
                
                <!-- postausten näyttäminen -->
                <div th:each="post : ${posts}" class="jumbotron shadow p-3 mb-3 bg-white rounded"> 
                    <div class="jumbotron shadow-none p-3 mb-3 bg-light rounded">
                        <span th:text="${post.whoPosted.username} + ' to ' + ${post.toWhomPosted.username}" class="font-weight-light">Postaaja</span>
                        <span th:text="'@ ' + ${post.postTime}" class="font-weight-light">Aika</span>
                        
                        <p th:text="${post.content}" style="font:Helvetica Light; font-size:25px;">Sisältö</p>
                        <!-- tykkäyksen lisääminen -->
                        <div class="row ml-2">      
                            <img width="35px" height="35px" src="https://images.vexels.com/media/users/3/144097/isolated/preview/3dedcd235214cdde6b4e171fdbf66c9d-heart-icon-by-vexels.png" alt="likebutton"/>
                            <span class="ml-2 lead align-self-end" th:text="${post.likers.size()} + ' likes'">Likes</span>
                        </div>
                    </div>                    
                    <!-- kommenttien näyttäminen -->
                    <div th:each="comment : ${post.comments}">
                        <span class="ml-2 lead" th:text="${comment.commentingTime} + ' - ' + ${comment.whoCommented.username} + ': ' + ${comment.content}"></span>
                    </div>
                    <form th:action="@{'/profile/' + ${post.toWhomPosted.profilename}}" method="GET" class="row justify-content-end mr-4">
                        <button type="submit" class="btn btn-dark">1-2-3 feeling social!</button>
                    </form> 
                </div>
            </section>
    </body>
</html>
