<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta charset="UTF-8" />
        <title>Naamakirja</title>
    </head>
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>
        
        <div >
            <div class="jumbotron" style="background-image: url(https://i.imgur.com/LmapHcT.png); background-size: cover;">
                <p class="text-center display-4" >Posts of you and your dear friends</p>
                <p class="lead text-center" ><span style="background-color: #E9ECEF; line-height:1; box-shadow: 5px 0 0px 0px #E9ECEF, -5px 0 0px 0px #E9ECEF;">Go to your friends page to interact!</span></p>
            </div>           
            <div class='container'>    
                <!-- postausten näyttäminen -->
                <div th:each="post : ${posts}" class="jumbotron shadow p-3 mb-3 bg-white rounded"> 
                    <div class="jumbotron shadow-none p-3 mb-3 bg-light rounded">
                        <span th:text="${post.whoPosted.username} + ' to ' + ${post.toWhomPosted.username}" class="font-weight-light">Postaaja</span>
                        <span th:text="'@ ' + ${post.postTime.toString().substring(0,19)}" class="font-weight-light">Aika</span>
                        
                        <p th:text="${post.content}" style="font:Helvetica Light; font-size:25px;">Sisältö</p>
                        <!-- tykkäyksen näyttäminen -->
                        <div class="row ml-2">      
                            
                            <span class="ml-2 lead align-self-end" th:text="${post.likers.size()} + ' likes'">Likes</span>
                        </div>
                    </div>                    
                    <!-- kommenttien näyttäminen -->
                    <div th:each="comment : ${post.comments}">
                        <span class="ml-2 lead" th:text="${comment.commentingTime.toString().substring(0,19)} + ' - ' + ${comment.whoCommented.username} + ': ' + ${comment.content}"></span>
                    </div>
                    <form th:action="@{'/profile/' + ${post.toWhomPosted.profilename}}" method="GET" class="row justify-content-end mr-4">
                        <button type="submit" class="btn btn-dark">1-2-3 feeling social!</button>
                    </form> 
                </div>
            </div>
        </div>
        
    </body>
</html>
