<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head th:replace="fragments/layout :: head" lang="en">
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta charset="UTF-8" />
        <title>Naamakirja</title>
    </head>
    
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>
        
        <div class="container mt-4">
            
            <div class="text-center">
                <div th:if="${!friendrequests.empty}">
                    <h3 class="mt-4 display-4">Pending friend requests</h3>
                    <div class="row  mt-4 justify-content-center" th:each="friendrequest : ${friendrequests}"> 
                        <div th:text="${friendrequest.sender.realname} + ' ' + ${friendrequest.timeSent}" class="font-weight-light">Kaveripyynnön lähettäjä</div>
                        <div class="input-group justify-content-center">
                            <form th:action="@{'/friends/accept/' + ${friendrequest.sender.profilename}}" method="POST">
                                <button type="submit" class="mr-2 btn btn-success">Accept</button>
                            </form>
                            <form th:action="@{'/friends/ignore/' + ${friendrequest.sender.profilename}}" method="POST">
                                <button type="submit" class="btn btn-danger">Ignore</button>
                            </form>
                        </div>                
                    </div>
                </div>
                
                <div>
                    <h3 class="mt-4 display-4">Friends</h3>
                    <div class="row mt-4 justify-content-center" th:each="friend : ${friends}"> 
                        <h6 th:text="${friend.realname} + ' aka ' + ${friend.profilename}" class="font-weight-light align-self-end mr-2">Kaveri</h6>
                        <form th:action="@{'/profile/' + ${friend.profilename}}" method="GET" class="mt-2">
                            <button type="submit" class="btn btn-dark">Show profile</button>
                        </form>
                    </div>
                </div>
                
                <div>
                    <h3 class="mt-4 display-4">Possible future friends</h3>
                    
                    <div th:if="${!allUsers.empty}">            
                        <form  th:action="@{/finder}" method="POST">
                            <div class="form-group row">
                                <input type="text" name="keyword" class="form-control col-10" placeholder="Lacking friendliness? Feel free to surf for more"/>
                                <button type="submit" class="btn btn-dark col-2">Search</button>
                            </div>
                        </form>            
                    </div>
                    
                    <div th:each="res : ${allUsers}" class="row mt-4 justify-content-center">
                        <span th:text="${res.realname}" class="font-weight-light align-self-center mr-2">Nimi</span>
                        <form th:action="@{'/profile/' + ${res.profilename}}" method="GET" class="mt-2">
                            <button type="submit" class="btn btn-dark">Show profile</button>
                        </form>
                    </div>
                    <div th:if="${allUsers.empty}">
                        <span class="font-weight-light align-self-center mr-2">No results!</span>
                    </div>
                </div>
                
            </div>  
            
        </div>
    </body>
</html>
