<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta charset="UTF-8" />
        <title>Naamakirja</title>
    </head>
    
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>
        
        <div th:unless="@{!isLoggedIn}" class="container mt-4">
            <img style="position:relative;width:100%;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c2319d31-56ec-4f80-b9a7-58156da9925a/dd5nqmy-6137b967-7b7c-482b-9202-0a893ecbca17.png/v1/fill/w_1280,h_443,strp/welcome_to_bacef00k_by_soliquid_dd5nqmy-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDQzIiwicGF0aCI6IlwvZlwvYzIzMTlkMzEtNTZlYy00ZjgwLWI5YTctNTgxNTZkYTk5MjVhXC9kZDVucW15LTYxMzdiOTY3LTdiN2MtNDgyYi05MjAyLTBhODkzZWNiY2ExNy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.I0CZ8At0LL0Q1aip1wDIS7KBqUcTZmLx5cklQg5EIRs" alt="welcome" />
            <p class="mt-4 text-center display-4">Let's head to your <a href="/profile" style="color: #78a0a3;">profile</a> and start connecting!</p>
        </div>  
        
        
        <div th:if="${! isLoggedIn}">
            <div class="jumbotron text-center">
                <h1>Hey you, let's get you started! </h1>

                <div class="row justify-content-center">
                    <form th:action="@{/login}" method="GET">
                        <span>Already a member? </span>
                        <button id="signinbutton" type="submit" class="btn btn-dark">Sign in!</button>
                    </form> 
                </div>
            </div>

            <section class="container col-6">
                <h2 class="text-center">Let's sign you up!</h2>
                <form action="#" th:action="@{/signup}" th:object="${user}" method="POST">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" aria-describedby="usernameHelp" placeholder="Enter username"/>
                        <small id="usernameHelp" class="form-text text-muted">4-15 marks, used for logging in</small>
    <!--                    <section th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Virheviesti</section>-->
                    </div>

                    <div class="form-group">
                        <label for="realname">Real name</label>
                        <input type="text" class="form-control" name="realname" placeholder="Real name"/>
                        <small id="usernameHelp" class="form-text text-muted">4-30 marks</small>
    <!--                    <section th:if="${#fields.hasErrors('realname')}" th:errors="*{realname}" class="text-danger">Virheviesti</section>-->
                    </div>

                    <div class="form-group">
                        <label for="profilename">Profile name</label>
                        <input type="text" class="form-control" name="profilename" placeholder="Profile name"/>
                        <small id="usernameHelp" class="form-text text-muted">If you want, you can use your username as your profilename. (4-15 marks)</small>
    <!--                    <section th:if="${#fields.hasErrors('profilename')}" th:errors="*{profilename}" class="text-danger">Virheviesti</section>-->
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password"/>
    <!--                    <section th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Virheviesti</section>-->
                    </div>

                    <button type="submit" class="btn btn-dark">Sign up!</button>
                </form>

            </section>    
        </div>

    </body>
</html>
