<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <link rel="stylesheet" href="style.css" type="text/css"/>
        <meta charset="UTF-8" />
        <title>Naamakirja</title>
    </head>
    
    <body>
        <nav th:replace="fragments/layout :: navbar(isLoggedIn=${isLoggedIn})"></nav>
        
        <!-- alotuskuva -->
        <div class="jumbotron mt-4" style="background-image: url(https://i.imgur.com/LmapHcT.png); background-size: cover;">
            <div th:if="${isLoggedIn}" class="container mt-2 mb-4">
                <img style="position:relative;width:100%;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c2319d31-56ec-4f80-b9a7-58156da9925a/dd5nvlw-1d622509-75d8-4727-ba2d-b63717058834.png/v1/fill/w_1920,h_908,strp/welcome_bacef00k3_by_soliquid_dd5nvlw-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9OTA4IiwicGF0aCI6IlwvZlwvYzIzMTlkMzEtNTZlYy00ZjgwLWI5YTctNTgxNTZkYTk5MjVhXC9kZDVudmx3LTFkNjIyNTA5LTc1ZDgtNDcyNy1iYTJkLWI2MzcxNzA1ODgzNC5wbmciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.uknJe6skN8XpsG_HUhSaKbMERmbI-N8CvvrZF_GTNMI" alt="welcome" />
                <p class="mt-4 text-center display-4">Let's head to your <a href="/profile" style="color: #78a0a3;">profile</a> and start connecting!</p>
            </div>  
            <div th:if="${! isLoggedIn}" class="container mt-2 mb-4">
                <img style="position:relative;width:100%;" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c2319d31-56ec-4f80-b9a7-58156da9925a/dd5x7rg-80af96a3-a5a4-48d0-a8d1-c2bf796d6f6b.png/v1/fill/w_1920,h_347,strp/bacef00k_logo_big_by_soliquid_dd5x7rg-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzQ3IiwicGF0aCI6IlwvZlwvYzIzMTlkMzEtNTZlYy00ZjgwLWI5YTctNTgxNTZkYTk5MjVhXC9kZDV4N3JnLTgwYWY5NmEzLWE1YTQtNDhkMC1hOGQxLWMyYmY3OTZkNmY2Yi5wbmciLCJ3aWR0aCI6Ijw9MTkyMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.HN58yG5bsOSPT3mMVlWm_q258w13K0uF5zbjEmOJ5OU" alt="bacef00k logo" />
                <div class="row justify-content-center mb-4">
                    <form th:action="@{/login}" method="GET">
                        <span class="font-weight-light" style="background-color: #E9ECEF; line-height:1; box-shadow: 5px 0 0px 0px #E9ECEF, -5px 0 0px 0px #E9ECEF;">Already a member? </span>
                        <button id="signinbutton" type="submit" class="btn btn-dark ml-2">Sign in!</button>
                    </form> 
                </div>
            </div>
        </div>
        
        <!-- sign up -->
        <div th:if="${! isLoggedIn}" class="container col-6">
            <h2 class="text-center display-4">Not yet a member?</h2>
            <p class="font-weight-light text-center">Let's create an account for you!</p>
            <form action="#" th:action="@{/signup}" th:object="${user}" method="POST">

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" th:field="*{username}" aria-describedby="usernameHelp" placeholder="Enter username"/>
                    <small id="usernameHelp" class="form-text text-muted">4-15 marks, used for logging in</small>
                    <section th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Virheviesti</section>
                    <section th:if="${! uniqueUsername}" class="text-danger">This username has already been taken</section>
                </div>

                <div class="form-group">
                    <label for="realname">Real name</label>
                    <input type="text" class="form-control" name="realname" th:field="*{realname}" placeholder="Real name"/>
                    <small id="usernameHelp" class="form-text text-muted">4-30 marks</small>
                    <section th:if="${#fields.hasErrors('realname')}" th:errors="*{realname}" class="text-danger">Virheviesti</section>
                </div>

                <div class="form-group">
                    <label for="profilename">Profile name</label>
                    <input type="text" class="form-control" name="profilename" th:field="*{profilename}" placeholder="Profile name"/>
                    <small id="usernameHelp" class="form-text text-muted">If you want, you can use your username as your profilename. (4-15 marks)</small>
                    <section th:if="${#fields.hasErrors('profilename')}" th:errors="*{profilename}" class="text-danger">Virheviesti</section>
                    <section th:if="${! uniqueProfilename}" class="text-danger">This profile name has already been taken</section>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" th:field="*{password}" placeholder="Password"/>
                    <section th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Virheviesti</section>
                </div>

                <button type="submit" class="btn btn-dark mb-4">Sign up!</button>
            </form>
        </div>            
    </body>
</html>
