<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head" lang="en">
        <meta charset="UTF-8" />
        <title>Naamakirja</title>
    </head>
    <body>
        <nav th:replace="fragments/layout :: navbar"></nav>
        
        <div class="mt-4 container">
            
            <div class="row shadow p-3 mb-5 bg-white rounded">
                <img th:if="${!hasProfilePicture}" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c2319d31-56ec-4f80-b9a7-58156da9925a/dd5nvru-f90692ea-3167-44f1-a23f-1b9454b86579.png/v1/fill/w_1280,h_1274,strp/bacef00k_userdefaultpic_by_soliquid_dd5nvru-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI3NCIsInBhdGgiOiJcL2ZcL2MyMzE5ZDMxLTU2ZWMtNGY4MC1iOWE3LTU4MTU2ZGE5OTI1YVwvZGQ1bnZydS1mOTA2OTJlYS0zMTY3LTQ0ZjEtYTIzZi0xYjk0NTRiODY1NzkucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.FNpq3iZOK2zJE0FOQjX9SZmmTdloWbFUXewFkBl0dOA" alt="profilepic" height="200" id="profilepicdefault"/>
                <img th:if="${hasProfilePicture}" th:src="@{'/profile/' + ${user.profilename} + '/photos/' + ${profilepicid}}" th:alt="profilepic" height="200" id="profilepic"/>
                <table class="ml-4 mt-2 col-8">                    
                    <tr >
                        <th><h3 class="display-4" th:text="${user.username}">@Käyttäjänimi</h3></th>
                    </tr>
                    <tr>
                        <th><h5 class="lead" th:text="${user.realname}">Nimi</h5></th>
                    </tr>                    
                </table>
                <div th:unless="${isFriend}">
                    <form th:unless="${isMyProfile}" th:action="@{'/profile/' + ${user.profilename} + '/addfriend'}" method="POST" class="mt-2">
                        <button type="submit" class="btn btn-dark">Add as a friend</button>
                    </form>
                </div>
            </div>            
            
            <!-- postaus --> 
            <section>
                <div class="row mt-4">
                    <h3 class="display-4">Posts</h3>
                </div>           
                <form th:if="${isFriend} or ${isMyProfile}" class="mt-2" th:action="@{'/profile/' + ${user.profilename}}" method="POST">
                    <div class="form-group row">
                        <input type="text" name="postcontent" class="form-control col-11" placeholder="Make your friend's day delightful and post something friendly"/>
                        <button type="submit" class="btn btn-dark col-1">Post</button>
                    </div>
                </form>
                <!-- postausten näyttäminen -->
                <div th:each="post : ${posts}" class="jumbotron shadow p-3 mb-5 bg-white rounded"> 
                    <div class="jumbotron shadow-none p-3 mb-3 bg-light rounded">
                        <span th:text="${post.whoPosted.username} + ' to ' + ${post.toWhomPosted.username}" class="font-weight-light">Postaaja</span>
                        <span th:text="'@ ' + ${post.postTime}" class="font-weight-light">Aika</span>
                        <p th:text="${post.content}" style="font:Helvetica Light; font-size:25px;">Sisältö</p>
                        <!-- tykkäyksen lisääminen -->
                        <div th:if="${isFriend} or ${isMyProfile}" class="row">
                            <form th:action="@{'/profile/' + ${user.profilename} + '/like/' + ${post.id}}" method="POST" class="mt-2">
                                <button type="submit" class="btn btn-light"><img width="35px" src="https://images.vexels.com/media/users/3/144097/isolated/preview/3dedcd235214cdde6b4e171fdbf66c9d-heart-icon-by-vexels.png" alt="likebutton"/></button>
                            </form>
                            <p class="mr-2 lead align-self-end" th:text="${post.likers.size()} + ' likes'">Likes</p>
                        </div>
                    </div>
                    <!-- kommenttien näyttäminen -->
                    <div th:each="comment : ${post.comments}">
                        <span class="ml-4 lead" th:text="${comment.commentingTime} + ' - ' + ${comment.whoCommented.username} + ': ' + ${comment.content}"></span>
                    </div>
                    <!-- kommentin lisääminen -->
                    <form th:if="${isFriend} or ${isMyProfile}" class="mt-2" th:action="@{'/profile/' + ${user.profilename} + '/comment/' + ${post.id}}" method="POST">
                        <div class="form-group row justify-content-center">
                            <input type="text" name="postcommentcontent" class="form-control col-9" placeholder="That was so triggering right?"/>
                            <button type="submit" class="ml-2 btn btn-dark col-2">Comment</button>
                        </div>
                    </form>
                </div>
            </section>
            
            <!-- kuvien näyttäminen -->
            <section>
                <div class="row mt-4">
                    <h3 th:text="'Photos from ' + ${user.username}" class="display-4"></h3>
                </div>
                <div th:each="photo : ${photos}" class="shadow p-3 mb-5 bg-white rounded">
                    <div class="jumbotron shadow-none p-3 mb-3 bg-light rounded">
                        <img th:src="@{'/profile/' + ${user.profilename} + '/photos/' + ${photo.id}}" th:alt="${photo.description}" height="200" aria-describedby="photodescription" class="mt-3"/>
                        <small id="photodescription" class="form-text text-muted" th:text="${photo.description}">Kuvateksti</small>
                        <div th:if="${isMyProfile}" class="input-group">                        
                            <form th:action="@{'/profile/' + ${user.profilename} + '/photos/' + ${photo.id}} + '/changeprofile'" method="POST">
                                <button type="submit" class="btn mt-2 btn-dark">Change as profilepic</button>
                            </form>
                            <form th:action="@{'/profile/' + ${user.profilename} + '/photos/' + ${photo.id}}" th:method="delete">
                                <button type="submit" class="btn mt-2 ml-2 btn-danger">Delete</button>
                            </form>
                        </div>
                        
                        <!-- tykkäyksen lisääminen -->
                        <div th:if="${isFriend} or ${isMyProfile}" class="row">
                            <form th:action="@{'/profile/' + ${user.profilename} + '/likePic/' + ${photo.id}}" method="POST" class="mt-2">
                                <button type="submit" class="btn btn-light"><img width="35px" src="https://images.vexels.com/media/users/3/144097/isolated/preview/3dedcd235214cdde6b4e171fdbf66c9d-heart-icon-by-vexels.png" alt="likebutton"/></button>
                            </form>
                            <p class="mr-2 lead align-self-end" th:text="${photo.likers.size()} + ' likes'">Likes</p>
                        </div>
                    </div>
                    <div>
                        <!-- kommenttien näyttäminen -->
                        <div th:each="comment : ${photo.comments}">
                            <span class="ml-4 lead" th:text="${comment.commentingTime} + ' - ' + ${comment.whoCommented.username} + ': ' + ${comment.content}"></span>
                        </div>
                        <!-- kommentin lisääminen -->
                        <form th:if="${isFriend} or ${isMyProfile}" class="mt-2" th:action="@{'/profile/' + ${user.profilename} + '/commentPic/' + ${photo.id}}" method="POST">
                            <div class="form-group row justify-content-center">
                                <input type="text" name="photocommentcontent" class="form-control col-9" placeholder="I look so damn gorgeus, give me compliments."/>
                                <button type="submit" class="btn btn-dark col-2">Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- kuvan lisääminen -->
                <div th:if="${isMyProfile} and ${photos.size()<10}">                    
                    <p class="lead" >Add more photos:</p>
                    <form  th:action="@{'/profile/' + ${user.profilename} + '/addphoto'}" method="POST" enctype="multipart/form-data">
                        <div class="mt-2 form-group">
                            <input type="text" name="description" class="col-6 form-control" placeholder="Photo description"/>
                            <input type="file" name="photo" class="mt-2 form-control-file" aria-describedby="filehelp"/>
                            <small id="filehelp" class="form-text text-muted">jpeg, jpg or png, max 10 Mb</small>
                            <button type="submit" class="mt-2 btn btn-dark">Upload</button>
                        </div>
                    </form>
                </div>
                <div th:if="${isMyProfile} and ${photos.size()>=10}">
                    <p class="lead" >You have reached the maximum number of photos (10), delete one to add more:</p>
                </div>
            </section>
            
        </div>
    </body>
</html>
